@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  background-color: #f7f7f7;
  border-bottom: 1px solid black;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
}
.form-control textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
  resize: none;
}

.form-control.succes input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}

.form-control.succes textarea {
  border-color: green;
}
.form-control.error textarea {
  border-color: red;
}

.form-control.error input[type="radio"] {
  border-color: red;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.succes i.fa-check-circle {
  visibility: visible;
  color: green;
}

.form-control.error .fa-exclamation-circle {
  visibility: visible;
  color: red;
}

.gender-paid,
.gender-free {
  position: relative;
}

.form-control input[type="radio"] {
  position: absolute;
  left: -119px;
  bottom: 28.1px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
  color: red;
}

.form button {
  background-color: purple;
  border: 2px solid purple;
  display: block;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px;
}
.checked-message {
  margin: 10px;
  height: 5vh;
  font-size: 15px;
  display: flex;
  align-items: center;
  
}
.hidden h1{
  visibility: hidden;

}

.green{
  background-color: lightgreen;

}
