@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

        


body {
  background-color: #FCFCFC;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #FCFCFC;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  background-color: #FCFCFC;
  border-bottom: 1px solid black;
  color: #26547C;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color:#26547C;
}

label{
  color: #26547C;
  font-weight: 600;
}

.form-control input {
  border: 2px solid #FCFCFC;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
}
.form-control textarea {
  border: 2px solid #FCFCFC;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
  resize: none;
  border: 1px solid black;

}

.form-control.succes input {
  border-color: #06D6A0;
}
.form-control.error input {
  border-color: #EF476F;
}

.form-control.succes textarea {
  border-color: #06D6A0;
}
.form-control.error textarea {
  border-color: #EF476F;
}

.form-control.error input[type="radio"] {
  border-color: #EF476F;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.succes i.fa-check-circle {
  visibility: visible;
  color: #06D6A0;
}

.form-control.error .fa-exclamation-circle {
  visibility: visible;
  color: #EF476F;
}

.gender-paid,
.gender-free {
  position: relative;
}

.form-control input[type="radio"] {
  position: absolute;
  left: -119px;
  bottom: 28.1px;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
  color: #EF476F;
}

.form button {
  background-color: #FFD166;
  border: 2px solid #FFD166;
  display: block;
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px;
}
.checked-message {
  margin: 10px;
  height: 5vh;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 8px;
}
.hidden  {
  visibility: hidden;
}

.close-tag i {
  background-color: #06D6A0;
  color: black;

}

.close-tag{
  background-color: #06D6A0;
  border: 0px #06D6A0;
  position: relative;
  top: 2px;
  left: 5px;
  cursor: pointer;
}
.check{
  position: relative;
  left:4px;
  top:2px
}
.green {
  background-color: #06D6A0;
}