@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  background: #FAF3E3;
}
.container {
  
 display: flex;
 flex-direction: column;
  
  
}
form{
  background: #1A4D2E;
  color: #FF9F29;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
input{
  background-color: #CFD2CF;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

}

.img {
  width: 200px;
  height: 200px;
  margin:10px 20px;
  display: flex;
  align-content: center;
}

.first{
  margin-top: 10px;
  margin-bottom: 10px;
}

.last{
  margin-bottom: 10px;
}

input[type='radio']:after {
  
  
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  
}

input[type='radio']:checked:after {
  
  
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
 
}

.gender{
  margin-bottom: 10px;
}

.gender label{
  margin-right: 5px;
}

.submit{
  margin-top: 10px;
  background-color: #CFD2CF;
  margin-bottom: 10px;
  cursor: pointer;
}
.headerval{
 
visibility: hidden;
}

.closetag{
  background:#D4F6CC ;
  cursor: pointer;
  border: #D4F6CC;
}


.hidden{
  visibility: visible;
  background: #D4F6CC;
  color: #1A4D2E;
  display: flex;
  justify-content: center;
}
